<!doctype html>
<html ng-app="LunchCheck">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <h2>Lunch Check</h2>
    <div ng-controller="LunchCheckController as LunchCheck">
        <input type="text" ng-model="name"  size="30">
        <button class="btn btn-primary" type="submit" ng-click="len()">Check If Too Much</button>
        <br><label ng-style="deger==0 ? {'color':'green','border':'1px solid green'} : {'color': 'red','border':'1px solid red'}">{{t}}</label>
        <br><label>{{count}} lunch added.</label>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>